version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: cbx_postgres
    environment:
      POSTGRES_USER: cbx_user
      POSTGRES_PASSWORD: cbx_password
      POSTGRES_DB: cbx_life
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
